<ul ngbNav #parentnav="ngbNav" [(activeId)]="tactive" class="nav-pills justify-content-center child-navbars" orientation="horizontal">
  <li [ngbNavItem]="1">
    <a ngbNavLink>
      <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/Text-document-audio-Classification.svg" alt="classification">
      <img class="image-active" src="../../../assets/Images/Navigation Icons/svg/Text-document-audio-Classification active.svg"
        alt="classification"> Classification
    </a>
    <ng-template ngbNavContent>
      <app-textclassification></app-textclassification>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>
      <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/Text-Entity-Extraction.svg" alt="Entity Extraction">
      <img class="image-active" src="../../../assets/Images/Navigation Icons/svg/Text-Entity-Extraction active.svg" alt="classification"> Entity Extraction</a>
    <ng-template ngbNavContent>
      <app-textentity></app-textentity>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>
      <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/Sentiment-Analysis.svg" alt="sentiment-analysis">
      <img class="image-active" src="../../../assets/Images/Navigation Icons/svg/Sentiment-Analysis active.svg" alt="classification"> Sentiment Analysis</a>
    <ng-template ngbNavContent>
      <app-textsentimental></app-textsentimental>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="parentnav" class="border"></div>
