<ul ngbNav #parentnav="ngbNav" [(activeId)]="dactive" class="nav-pills justify-content-center child-navbars" orientation="horizontal">
  <li [ngbNavItem]="1">
    <a ngbNavLink>
      <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/Text-document-audio-Classification.svg" alt="classification">
      <img class="image-active" src="../../../assets/Images/Navigation Icons/svg/Text-document-audio-Classification active.svg"
        alt="classification"> Classification
    </a>
    <ng-template ngbNavContent>
      <app-docclassification></app-docclassification>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>
      <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/OCR.svg" alt="ocr">
      <img class="image-active" src="../../../assets/Images/Navigation Icons/svg/ocr active.svg" alt="classification"> Optical Character Recognition</a>
    <ng-template ngbNavContent>
      <app-ocr></app-ocr>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="parentnav" class="border"></div>
