
<ul ngbNav #parentnav="ngbNav" [(activeId)]="Audioactive" class="nav-pills justify-content-center child-navbars" orientation="horizontal">
    <li [ngbNavItem]="1">
      <a ngbNavLink>
          <img class="image-unactive" src="../../../assets/Images/Navigation Icons/Classification.png" alt="classification">
          <img class="image-active"  src="../../../assets/Images/Navigation Icons/svg/Text-document-audio-Classification active.svg" alt="classification">
        Classification</a>
      <ng-template ngbNavContent>
<app-audioclassification></app-audioclassification>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink>
            <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/Transcription.svg" alt="trascription">
            <img class="image-active"  src="../../../assets/Images/Navigation Icons/svg/Transcription active.svg" alt="classification">
          Transcription</a>
        <ng-template ngbNavContent>

<app-audioscription></app-audioscription>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
          <a ngbNavLink>
              <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/Audio_Segment.svg" alt="seg analysis">
              <img class="image-active"  src="../../../assets/Images/Navigation Icons/svg/Audio_segment active4.svg" alt="classification">
            Segment Labelling</a>
          <ng-template ngbNavContent>
<app-segmentlabel></app-segmentlabel>
          </ng-template>
        </li>

        <li [ngbNavItem]="4">
            <a ngbNavLink>
                <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/Sentiment-Analysis.svg" alt="seg analysis">
                <img class="image-active"  src="../../../assets/Images/Navigation Icons/svg/Sentiment-Analysis active.svg" alt="classification">
                Sentiment Analysis</a>
            <ng-template ngbNavContent>
  <app-sentimentanalysis></app-sentimentanalysis>
            </ng-template>
          </li>
  </ul>

  <div [ngbNavOutlet]="parentnav" class="border"></div>
