<ul ngbNav #parentnav="ngbNav" [(activeId)]="vactive" class="nav-pills justify-content-center child-navbars" orientation="horizontal">
  <li [ngbNavItem]="1">
    <a ngbNavLink>
      <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/Image-video-Classification.svg" alt="classification">
      <img class="image-active" src="../../../assets/Images/Navigation Icons/svg/Image-video-Classification active.svg" alt="classification"> Classification
    </a>
    <ng-template ngbNavContent>
      <app-videoclassification></app-videoclassification>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="parentnav" class="border"></div>
