<ul ngbNav #parentnav="ngbNav" [(activeId)]="gactive" class="nav-pills justify-content-center child-navbars" orientation="horizontal">
  <li [ngbNavItem]="1">
    <a ngbNavLink>
      <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/Geospatial-Object.svg" alt="Geo-Spatial">
      <img class="image-active" src="../../../assets/Images/Navigation Icons/svg/Geospatial-Object active.svg" alt="classification"> Object Detection</a>
    <ng-template ngbNavContent>
      <app-objectdetect></app-objectdetect>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="parentnav" class="border"></div>
