<ul ngbNav #parentnav="ngbNav" [(activeId)]="cactive" class="nav-pills justify-content-center child-navbars" orientation="horizontal">
  <li [ngbNavItem]="1">
    <a ngbNavLink>
      <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/Bounding-Box.svg" alt="bound box" />
      <img class="image-active" src="../../../assets/Images/Navigation Icons/svg/bounding-box active.svg" alt="classification"> Bounding Box</a>
    <ng-template ngbNavContent>
      <app-boundingbox></app-boundingbox>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>
      <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/Image-video-Classification.svg" alt="classification">
      <img class="image-active" src="../../../assets/Images/Navigation Icons/svg/Image-video-Classification active.svg" alt="classification"> Classification
    </a>
    <ng-template ngbNavContent>
      <app-classification></app-classification>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>
      <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/Image-Segmentation.svg" alt="segmentation">
      <img class="image-active" src="../../../assets/Images/Navigation Icons/svg/Image-Segmentation active.svg" alt="classification"> Segmentation
    </a>
    <ng-template ngbNavContent>
      <app-segmentation></app-segmentation>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>
      <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/Dot Annotation.svg" alt="dot">
      <img class="image-active" src="../../../assets/Images/Navigation Icons/svg/Dot Annotation active.svg" alt="classification"> Dot Annotation</a>
    <ng-template ngbNavContent>
      <app-point></app-point>
    </ng-template>
  </li>
  <li [ngbNavItem]="5">
    <a ngbNavLink>
      <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/Polygon.svg" alt="dot">
      <img class="image-active" src="../../../assets/Images/Navigation Icons/svg/Polygon active.svg" alt="classification"> Polygons
    </a>
    <ng-template ngbNavContent>
      <app-polygon></app-polygon>
    </ng-template>
  </li>
  <li [ngbNavItem]="6">
    <a ngbNavLink>
      <img class="image-unactive" src="../../../assets/Images/Navigation Icons/svg/Polylines.svg" alt="dot">
      <img class="image-active" src="../../../assets/Images/Navigation Icons/svg/Polylines active.svg" alt="classification"> Polyline
    </a>
    <ng-template ngbNavContent>
      <app-polyline></app-polyline>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="parentnav" class="border"></div>
<pre> active : {{cactive}}</pre>
