.useicon{
  height: 40px;
  margin-bottom: 15px;
  width: 40px;
}
.custom-navbar .nav-item .nav-link{
  color: #000000;
  font-size: 18px;
  position: relative;
  align-items: center;
  margin: 0px 10px;
}

.custom-navbar .nav-link.active,  .custom-navbar .show>.nav-link{
  background-color: #ffffff;
  color: #247EFF !important;
  position: relative !important;
}

.nav-link.active::after{
  content: "\27A4";
  transform: rotateZ(90deg) scale(.7);
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -16px;
  margin: auto;
}

@media only screen and (max-width: 991px) {
  .useicon{
    height: 25px;
    width: 25px;
  }
  .custom-navbar a{
    font-size: 17px;
  }
}
@media only screen and (max-width: 768px) {
  .custom-navbar  .nav-item .nav-link span{
    display: none
  }
  .custom-navbar{
    justify-content: space-evenly !important
  }
  .nav-link.active::after{
    bottom: -8px;
  }
}
@media only screen and (max-width: 576px){
  .custom-navbar .nav-item .nav-link{
    padding: 8px 2px;
  }
}
