<!-- <div class="container-fluid">
  <ul ngbNav #parentnav="ngbNav" [(activeId)]="active" class="justify-content-center nav-pills mt-4 mb-5 custom-navbar" orientation="horizontal">
    <li [ngbNavItem]="1">
      <a ngbNavLink class="d-flex flex-column">
        <img class="useicon" src="../assets/Images/Navigation Icons/Image.png">
        <span> Image</span>
      </a>
      <ng-template ngbNavContent>
        <app-imagelink [accessPID]='active' (notifyparent)='onNotify($event)'></app-imagelink>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink class="d-flex flex-column">
        <img class="useicon" src="../assets/Images/Navigation Icons/Video.png">
        <span> Video</span>
      </a>
      <ng-template ngbNavContent>
        <app-videolink [accessPID]='active' (notifyparent)='onNotify($event)'></app-videolink>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink class="d-flex flex-column">
        <img class="useicon" src="../assets/Images/Navigation Icons/document.png">
        <span> Document</span>
      </a>
      <ng-template ngbNavContent>
        <app-documentlink [accessPID]='active' (notifyparent)='onNotify($event)'></app-documentlink>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink class="d-flex flex-column">
        <img class="useicon" src="../assets/Images/Navigation Icons/text.png">
        <span> Text</span>
      </a>
      <ng-template ngbNavContent>
        <app-textlink [accessPID]='active' (notifyparent)='onNotify($event)'></app-textlink>
      </ng-template>
    </li>
    <li [ngbNavItem]="5">
      <a ngbNavLink class="d-flex flex-column">
        <img class="useicon" src="../assets/Images/Navigation Icons/audio.png">
        <span> Audio</span>
      </a>
      <ng-template ngbNavContent>
        <app-audiolink [accessPID]='active' (notifyparent)='onNotify($event)'></app-audiolink>
      </ng-template>
    </li>
    <li [ngbNavItem]="6">
      <a ngbNavLink class="d-flex flex-column">
        <img class="useicon" src="../assets/Images/Navigation Icons/Geo-Spatial.png">
        <span>GeoSpatial</span>
      </a>
      <ng-template ngbNavContent>
        <app-geolink [accessPID]='active' (notifyparent)='onNotify($event)'></app-geolink>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="parentnav" class="container"></div>

</div>


 -->





<router-outlet></router-outlet>
