<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="../../../../assets/Images/4.jpg" style="height: 320px;width: 100%; max-width: 690px;" />
    </div>
  </div>
</div>
