/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.child-navbars{
  margin-bottom: 15px;
}
.child-navbars .nav-item .nav-link {
  color: #000000;
  display: flex;
  align-items: center;
}
.child-navbars .nav-item .nav-link img{
  width: 22px;
  height: 22px;
  margin-right: 8px;
}
.child-navbars .nav-link.active, .child-navbars .show>.nav-link{
  background-color: #ffffff;
  color: #247EFF;
}

.image-active{
  display: none;
}

.child-navbars .nav-link.active .image-active{
  display: block;
}

.child-navbars .nav-link.active .image-unactive{
  display: none;
}
