<div class="container-fluid mt-4 mb-3">
  <div class="d-flex justify-content-start flex-wrap">
      <div class="dataset">
          <mat-card class="add-dataset shadow">
            <mat-card-header class="justify-content-center">
              <mat-card-title class="mat-body-strong">Goole Drive</mat-card-title>
            </mat-card-header>

              <img class="logo-img" src="../../assets/Images/dataset/logo-drive.png" alt="Google Drive">

            <mat-card-content class="m-0">
              <p class="text-center">
                5 Files
              </p>
            </mat-card-content>
            <mat-card-actions class="text-center p-0">
              <button type="button" class="btn btn-link py-0">Add More</button>
            </mat-card-actions>
          </mat-card>
        </div>
    <div class="add-dataset plus-option shadow d-flex justify-content-center align-items-center" (click)='optiontoggle()'>
      <img class="add-icon" src="../../assets/Images/dataset/add.png" alt="Add Options" />
    </div>







    <!-- <div   class="d-flex"> -->
      <div *ngIf="showoption" class="dataset">
        <mat-card class="add-dataset shadow">
          <mat-card-header class="justify-content-center">
            <mat-card-title class="mat-body-strong">Goole Drive</mat-card-title>
          </mat-card-header>

            <img class="logo-img" src="../../assets/Images/dataset/logo-drive.png" alt="Google Drive">

          <mat-card-actions class="p-0">
            <button type="button" class="btn btn-link py-0">Upload More Files</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div *ngIf="showoption" class="dataset">
        <mat-card class="add-dataset shadow">
          <mat-card-header class="justify-content-center">
            <mat-card-title class="mat-body-strong">Dropbox</mat-card-title>
          </mat-card-header>

            <img class="logo-img" src="../../assets/Images/dataset/dropbox-logo.png" alt="Dropbox">

          <mat-card-actions class="p-0">
            <button type="button" class="btn btn-link py-0">Upload More Files</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div *ngIf="showoption" class="dataset">
        <mat-card class="add-dataset shadow">
          <mat-card-header class="justify-content-center">
            <mat-card-title class="mat-body-strong">Goole Cloud</mat-card-title>
          </mat-card-header>

            <img class="logo-img" src="../../assets/Images/dataset/cloud.png" alt="Google Cloud">

          <mat-card-actions class="p-0">
            <button type="button" class="btn btn-link py-0">Upload More Files</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div *ngIf="showoption" class="dataset">
        <mat-card class="add-dataset shadow">
          <mat-card-header class="justify-content-center">
            <mat-card-title class="mat-body-strong">Upload File Links</mat-card-title>
          </mat-card-header>

            <!-- <img class="logo-img " src="../../assets/Images/dataset/link.png" alt="File Links"> -->
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="attachment">attachment</mat-icon>

          <mat-card-actions class="p-0">
            <button type="button" class="btn btn-link py-0">Upload More Files</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div *ngIf="showoption" class="dataset">
        <mat-card class="add-dataset shadow">
          <mat-card-header class="justify-content-center">
            <mat-card-title class="mat-body-strong">Upload Local File</mat-card-title>
          </mat-card-header>

            <img class="local" src="../../assets/Images/dataset/file.png" alt="Loacal Files">

          <mat-card-actions class="p-0">
            <button type="button" class="btn btn-link py-0">Upload More Files</button>
          </mat-card-actions>
        </mat-card>
      </div>
    <!-- </div> -->















  </div>
</div>

<!--
<form [formGroup]="selectdataset" autocomplete="off">
  <fieldset class="form-group dataset-radio px-3 pb-5 border-bottom">
    <div class="form-check form-check-inline mb-1">
      <input class="form-check-input" type="radio" formControlName="S_dataset" id="inlineRadio1" value="drive">
      <label class="form-check-label" for="inlineRadio1">
        <img class="select-logo" src="../../assets/Images/dataset/logo-drive.png" alt=""> Google Drive
      </label>
    </div>
    <div class="form-check form-check-inline mb-1">
      <input class="form-check-input" type="radio" formControlName="S_dataset" id="inlineRadio2" value="dropbox">
      <label class="form-check-label" for="inlineRadio2">
        <img class="select-logo" src="../../assets/Images/dataset/dropbox-logo.png" alt=""> Dropbox
      </label>
    </div>
    <div class="form-check form-check-inline mb-1">
      <input class="form-check-input m-0" type="radio" formControlName="S_dataset" id="inlineRadio3" value="cloud">
      <label class="form-check-label" for="inlineRadio3">
        <img class="cloud" src="../../assets/Images/dataset/gcp-logo.png" alt=""> Google Cloud
      </label>
    </div>
    <div class="form-check form-check-inline mb-1">
      <input class="form-check-input" type="radio" formControlName="S_dataset" id="inlineRadio4" value="filelinks">
      <label class="form-check-label" for="inlineRadio4">
        <img class="select-logo link" src="../../assets/Images/dataset/link.png" alt=""> Upload File Links
      </label>
    </div>
    <div class="form-check form-check-inline mb-1">
      <input class="form-check-input" type="radio" formControlName="S_dataset" id="inlineRadio5" value="localfiles">
      <label class="form-check-label" for="inlineRadio5">
        <img class="file" src="../../assets/Images/dataset/file.png" alt=""> Upload local Files
      </label>
    </div>
  </fieldset>
</form>

<div class="container-fluid">
  <h2>Uploaded Labelled Data</h2>
  <ul>
    <li> Dropbox - Uploaded 5 files </li>
  </ul>


  <button mat-raised-button color="primary">Next
    <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right_alt</mat-icon>
  </button>

</div> -->
