.add-dataset{
  width: 120px;
  height: 125px;
  margin: 5px;
  text-align: center;
  padding:8px 11px 0px 11px;
}
.plus-option{
  min-width: 120px;
}

.add-icon{
  width: 50px;
  height: 50px;
}
.dataset ::ng-deep mat-card-header .mat-card-header-text{
  margin: 0;
}
.dataset mat-card-title {
  font-size: 12px;
  margin-bottom: 8px;
  line-height: 17px;
}
.dataset .btn-link{
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 5px;
}
.dataset .logo-img{
  width: 42px;
  height: 38px;
  margin-bottom: 10px;
}
.select-logo{
  width: 15px;
  margin-right: 3px;
}
.dataset-radio .form-check-label{
  display: flex;
  justify-content: center;
  align-items: center;
}
.file{
  width: 15px;
  height: 16px;
  margin-right: 3px;
}
.link{
  width: 20px;
}
.cloud{
  width: 30px;
}
.local{
  width:28px ;
  margin-bottom: 10px;
}
.attachment{
  width: 100%;
  font-size: 50px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
/* @media only screen and (max-width: 768px) {
  .add-dataset{
    width: 120px;
    margin: 10px;
    height: 135px;
    padding: 10px;
  }
  .plus-option{
    min-width: 120px;
  }
  .dataset .logo-img{
    width: 35px;
    margin-bottom: 10px;
  }
  .colud-icon{
    width: 78px !important;
    margin-bottom: 5px;
  }
  .attachment{
    font-size: 41px
  }
  .local{
    width: 28px
  }
}
 */
